.btn-navigate .btn {
    background-color: var(--gray);
    color: var(--black);
    border: 1px solid var(--gray);
}

.btn-navigate .btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

