.searchBox input {
    border-radius: 5px;
    border: 1px solid var(--gray);
    padding: 0 15px;
    
}

.searchBox input:focus {
    outline: none;
}

.searchBox .submit-btn {
    width: 80px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--primary);
    text-transform: uppercase;
    box-shadow: none;
}

.searchBox .submit-btn:hover {
    box-shadow: none;
}