#header ul.dropdown-menu {
    z-index: 2000;
    position: absolute;
    margin: 0 0;
    padding: 15px;
    left: 0;
    top: 45px;
    min-width: 160px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .10);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .10);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .10);
}

ul.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -11px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-left: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    transform: rotate(45deg);
}

#header ul.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header .quick-actions {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.header .quick-actions .quick-action-btn {
    margin: 0 10px;
}

.header .quick-actions .quick-action-btn:hover {
    color: var(--primary);
}

