.nav-wrapper {
    z-index: 1000 !important;
}

.navbar .col3 img {
    width: 20px;
    margin-right: 10px;
}

.navbar .css-1uent87-MuiButtonBase-root-MuiButton-root {
    border-radius: 0;
}
.navbar .categories-btn .text-section svg {
    font-size: 20px;
    padding-right: 2px;
}

.navbar-quick-links ul li .submenu {
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    z-index: 1000;
}
.navbar-quick-links ul li:hover .submenu {
    opacity: 1 !important;
    visibility: inherit;
    top: 120%;
}