@keyframes progress-bar-stripes {
  from {
    background-position: 2rem 0;
  }
  to {
    background-position: 0 0;
  }
};

.progress {
    height: 7px;
}

.progress-component {
    border-radius: 30px;
}

.progress .progress-background {
    background-color: #ddd;
    width: 500px;
}

.progress .progress-bar {
    background: #4cbb6c;
    background-image: none;
    background-size: auto;   
    width: 100px;
    background-size: 1rem 1rem;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    animation: progress-bar-stripes 1s linear infinite;
}